sveltekit/node_modules
sveltekit/.env
sveltekit/build
sveltekit/.svelte-kit
sveltekit/package
sveltekit/vite.config.js.timestamp-*
sveltekit/vite.config.ts.timestamp-*
sveltekit/src/lib/config.ts
sveltekit/vite.config.ts
sveltekit/deploy.sh
sveltekit/static/out/*